<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dostawy według Statusu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h1>Dostawy o statusie: <span th:text="${status}">[Status]</span></h1>
    <table class="table table-striped mt-3">
        <thead class="table-dark">
        <tr>
            <th>ID Dostawy</th>
            <th>Numer Dostawy</th>
            <th>Data Rozpoczęcia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="delivery : ${deliveryDTOs}">
            <td th:text="${delivery.deliveryId}">1</td>
            <td th:text="${delivery.deliveryNumber}">DEL002</td>
            <td th:text="${#dates.format(delivery.starTime, 'dd-MM-yyyy HH:mm')}">02-01-2023 09:30</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-info" th:href="@{/delivery}">Powrót</a>
</div>
</body>
</html>
<!--7. Dostawy (DeliveryController)-->
<!--Widok prezentujący dostawy o określonym statusie.
Model: lista „deliveryDTOs” oraz parametr „status”.-->