<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Lista Opinii</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h1>Opinie dla Restauracji</h1>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Imię Klienta</th>
            <th>Ocena</th>
            <th>Komentarz</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feedback : ${feedbackList}">
            <td th:text="${feedback.feedbackId}">1</td>
            <td th:text="${feedback.customerName}">Jan</td>
            <td th:text="${feedback.rating}">5</td>
            <td th:text="${feedback.comments}">Bardzo dobra obsługa</td>
            <td th:text="${#dates.format(feedback.date, 'dd-MM-yyyy')}">01-01-2023</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-info" th:href="@{/}">Powrót</a>
</div>
</body>
</html>
<!--8. Opinie (FeedbackController)-->
<!--Lista opinii (FeedbackDTO).-->