<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Zamówienie Złożone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h1>Zamówienie Złożone</h1>
    <p>Dziękujemy za złożenie zamówienia.</p>
    <p>Numer faktury: <span th:text="${invoice.invoiceNumber}">INV001</span></p>
    <a class="btn btn-info" th:href="@{/}">Powrót do strony głównej</a>
</div>
</body>
</html>
<!--11. Zamówienia (OrderController)-->
<!--Potwierdzenie złożenia zamówienia.-->