<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Potwierdzenie Płatności</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h1>Potwierdzenie</h1>
    <p th:text="${message}">Płatność została przetworzona pomyślnie.</p>
    <a class="btn btn-info" th:href="@{/}">Powrót do strony głównej</a>
</div>
</body>
</html>
<!--13. Płatności (PaymentController oraz PaymentControllerExtension)-->
<!--Potwierdzenie przetworzenia płatności.-->